@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-magnolia;
  }

  #__next {
    @apply h-full flex justify-center content-center flex-col flex-wrap;
  }

  input:invalid {
    @apply bg-red-500;
  }
}
